<mat-card>
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" #userForm="ngForm">
      <mat-form-field class="example-full-width">
        <input matInput type="username" placeholder="User Name" [(ngModel)]="username" name="username" required>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="onLogin(userForm)"
        [disabled]="!userForm.form.valid">Login</button>
    </form>
  </mat-card-content>
</mat-card>
